@import "tailwindcss";

@layer base {
  :root {
    --background: 0 0% 9%;
    --foreground: 0 0% 100%;
    --card: 0 0% 9%;
    --card-foreground: 0 0% 100%;
    --popover: 0 0% 9%;
    --popover-foreground: 0 0% 100%;
    --primary: 0 0% 100%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 9%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 9%;
    --muted-foreground: 0 0% 60%;
    --accent: 0 0% 9%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 0% 20%;
    --input: 0 0% 9%;
    --ring: 0 0% 50%;
    --radius: 0.75rem;
  }
}

@theme inline {
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-michroma: var(--font-michroma);
  --font-montserrat: var(--font-montserrat);
}

body {
  background: hsl(var(--background));
  color: hsl(var(--foreground));
  cursor: url('/cursor.png') 0 0, auto;
  font-family: var(--font-montserrat), sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

a, button, [role="button"], input, select, textarea {
  cursor: url('/open-cursor.png') 0 0, pointer !important;
}
